*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
	font-family: 'Heebo', sans-serif;
}

.title{
	color: white;
	font-size: 6vh;
	font-weight: 300;
	text-align: center;
}

.analog__clock {
	width: 350px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(./img/clock.png), url(./img/js.png);
	background-size: cover;
	border-radius: 50%;
}

.analog__clock:before{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	z-index: 999;
}

.analog__clock .hour,
.analog__clock .minute,
.analog__clock .second {
	position: absolute;
}

.analog__clock .hour, .hr {
	width: 160px;
	height: 160px;
}
.analog__clock .minute, .min {
	width: 190px;
	height: 190px;
}
.analog__clock .second, .sec {
	width: 230px;
	height: 230px;
}

.hr, .min, .sec {
	display: flex;
	justify-content: center;
	position: absolute;
	border-radius: 50%;
}

.hr:before{
	content: "";
	position: absolute;
	width: 8px;
	height: 80px;
	background-color: #ffc600;
	z-index: 10;
	border-radius: 6px 6px 0 0;
}
.min:before {
	content: "";
	position: absolute;
	width: 4px;
	height: 90px;
	background-color: #fff;
	z-index: 11;
	border-radius: 6px 6px 0 0;
}
.sec:before {
	content: "";
	position: absolute;
	width: 2px;
	height: 150px;
	background-color: #fff;
	z-index: 12;
	border-radius: 6px 6px 0 0;
}

.electronic__clock {
	color: white;
	font-weight: 400;
	font-size: 7vh;
	text-align: center;
}

.date__clock{
	display: flex;
	justify-content: center;
	align-items: center;
}
.day, .month, .year{
	font-size: 2vh;
	color: white;
	font-weight: 300;
	text-align: center;
}
.date__month{
	color: red;
	font-size: 3vh;
}
.year {
	opacity: 50%;
}